html, body, #root, .app-body {
  height: 100%;
}

body {
  /*font-size: large;*/
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.app-header {
  font-size: larger;
  text-transform: uppercase;
}

.component {
}

.component-header {
  border-bottom: 1px solid black;
  width: 100%;
  height: 30px;
}

.component-header-type {
  width: 125px;
  border-right: 1px solid black;
  height: 100%;
  line-height: 30px;
  background-color: black;
  color: white;
  text-align: center;
  float: left;
}

.component-header-name {
  text-align: center;
  padding: 5px;
}

.component-version-list-pane {
  border-right: 1px solid black;
  width: 125px;
}
.component-version-list-pane a {
  all: unset;
}

.component-version-pane {
  padding: 10px;
}
